.image-wall {
    list-style-type: none;
    padding-left: 0;
}

.image-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-right: 25px;
    float: left;
}

.image-item figure {
    position: relative;
    margin: 0;
}

.image-item figcaption {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
}

.center-cropped {
    display: block;
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

a, a:active, a:hover, a:focus {
    text-decoration: none;
    color: black;
}